################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Web/bin
/Web/obj/Debug
/Web/Properties/PublishProfiles
/.vs/HackYourselfFirst/v14
/.vs/config
/Web/Web.csproj.user
