################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Web/bin
/Web/obj/Debug
/Web/Properties/PublishProfiles
/.vs
