@model Web.Models.LocalPasswordModel
@{
  ViewBag.Title = "Change Password";
}

<hgroup>
  <h1>@ViewBag.Title.</h1>
</hgroup>

@if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
{
  <p class="alert alert-success">@ViewBag.StatusMessage</p>
}

@Html.Partial("_ChangePasswordPartial")

@section Scripts {
  <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>

  <script type="text/javascript">
    $('#NewPassword').click(function () {
      $(this).val('');
    });
    
    $('#ConfirmPassword').click(function () {
      $(this).val('');
    });
  </script>
}