@{
  ViewBag.Title = "Reset password complete";
}

<hgroup>
  <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="alert alert-success">Your password has now been reset, you should receive an email with a new one shortly.</p>
